@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import "partial/header";
@import "partial/footer";
@import "partial/emoji";

*::after, *::before {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: darken($color: white, $amount: 70);
    height: 100vh;
    width: 100vw;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: max-content;
    justify-items: center;
    align-items: center; 
}